.vscode/**
.github/**
.aem-catalog/**
.gitignore
node_modules/**
test/**
coverage/**
docs/**
src/**/*.ts
tsconfig.json
vitest.config.ts
eslint.config.mjs
esbuild.mjs
.prettier*
*.map
out/**/*.d.ts
out/**/*.d.ts.map
sbom.cdx.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
registry.json
